<h1> Phone Number Deleted </h1>

<p> Would you like to <a href="/contacts/<%= @phone.contact_id %>">Back</a>,
  or <a href ="/contacts/<%= @phone.contact_id %>/phones/new">Create a new phone number</a>?</p>
