<h1>New phone number for <%= @phone.contact.name %></h1>

<%= render('layouts/errors', :object => @phone) %>

<form action="/contacts/<%= @phone.contact_id %>/phones" method="post">
  <label for="phone_number">Number</label>
  <input id="phone_number" name="number" type="text" value="<%= @phone.number %>">
  <button>Add phone</button>
</form>
