<h1>Phone number</h1>

<p>Your phone number was successfully saved.</p>

<p><a href="/contacts/<%= @phone.contact.id %>" >View <%= @phone.contact.name %></a></p>

<p><a href="/contacts">Return to contact listing</a></p>
